# Python
*.pyc
__pycache__/

# Virtual environment
venv/

# Database files
*.sqlite3
db.sqlite3

# Logs
logs/
*.log

# Media and static files
media/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# IDE and editor configs
.vscode/
.idea/

# Migration backups (optional)
*.bak