# تنظیمات دیتابیس پستگرس
DB_NAME=charitymanage
DB_USER=charity_user
DB_PASSWORD=charity_secure_password
DB_HOST=db

# تنظیمات جنگو
DJANGO_SECRET_KEY=generate_a_very_secret_key_here
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*

# تنظیمات فرانت‌اند
VITE_API_URL=http://localhost:8000
